name: Build Mac App

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-13

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Build with PyInstaller
      run: |
        pyinstaller -F -n WeChatSender main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: mac-app-executable
        path: dist/WeChatSender
